.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("web-app-theme.list", :default => "List"), words_path
      %li= link_to t("web-app-theme.new", :default => "New"), new_word_path
      %li.active= link_to t("web-app-theme.edit", :default => "Edit"), edit_word_path
  .content
    %h2.title #{ t("web-app-theme.edit", :default => "Edit") } Word
    .inner
      - form_for @word, :url => word_path(@word), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')